---
import Section from "@/components/ui/Section.astro";
---

<Section class="relative h-dvh">
  <img src="/images/bg/educacion.webp" alt="" class="absolute w-full h-full inset-0 -z-10 object-cover">
  <div class="absolute inset-0 -z-10 bg-linear-to-t lg:bg-linear-to-l to-gray-50 lg:via-gray-50 from-transparent"></div>
  <div class="w-full max-w-lg h-full flex flex-col justify-center">
    <header>
      <h1 class="mb-h1 text-balance text-purple-950">Potencia tu futuro financiero</h1>
    </header>
    <p class="mb-h3 text-purple-950">
      Aprende a gestionar tus finanzas y alcanzar tus metas con nuestros cursos y recursos educativos de alta calidad.
    </p>
  </div>
</Section>